.refertitle {
  background-color: #c5bbbb;
  padding: 10px;
  border-bottom: 1px solid #c5bbbb;
}
.referbody {
  padding: 20px;
}

.containerrefer {
  border: 1px solid #c5bbbb;
}

.notecontainer {
  border: 2px solid tomato;
}
legend {
  background-color: rgb(110, 110, 110);

  color: #fff;
  padding-bottom: 3px 6px;
}
.lgfield {
  width: fit-content;
  padding-left: 50%;
}
textarea {
  padding: 10px;
  max-width: 100%;
  line-height: 1.5;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px #999;
}
